
<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>

      <form action="/cam_res" method = "POST">	
     	<p><input type = "number" name = "exposure" placeholder="{{expo}}" /> Exposure</p>
     	<p><input type = "number" name = "gain" placeholder="{{gain}}" />Gain</p>
	<p><input type = "submit" value = "Submit" /></p>  
      </form>
      
      ------------------------------------<br>
      <img id="cam" src="{{url_for('video_feed')}}" width="{{res[0]}}" height="{{res[1]}}"><br>
      <a href="{{ url_for('index') }}"><button>REFRESH</button></a>
  </body>
</html
